[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
